<div class="col-12 row">

    <div class="container col-12">
        <div class="row justify-content-center">
            <div ng-repeat="item in messages" ng-class="dir=='ltr'?'text-lef':'text-right'" class="col-sm-12 col-md-10 col-lg-8 bd-example" >
                <p class="h5 mr-2 p-3">{{item.firstName}} {{item.lastName}}</p>
                <div class="row col-12" ng-show="item.fileId != null">

                    <img
                            ng-if="item.fileId != null && item.contentType.indexOf('video') > -1 && item.isDownloaded != true"
                            alt="video"
                            src="/{{viewVersion}}/images/video.png"
                            ng-click="download(item)"
                            style="width: 100%;height: 500px;cursor: pointer;"
                    />

                    <video
                            ng-if="item.fileId != null && item.contentType.indexOf('video')>-1  && item.isDownloaded == true"
                            id="{{item.id}}"
                            ng-focus="pauseVideo(item)"
                            playsinline="playsinline"
                            preload="metadata"
                            poster="/{{viewVersion}}/images/video.png" class="col-12"
                            preload="metadata"
                            controls
                            type="{{item.contentType}}" ng-src="{{item.content}}"
                            style="cursor: pointer;">
                    </video>

                    <img
                            ng-if="item.fileId != null && item.contentType.indexOf('audio') > -1 && item.isDownloaded != true"
                            alt="audio"
                            src="/images/audio.jpg"
                            ng-click="download(item)"
                            style="width: 100%;height: 500px;cursor: pointer;"
                    />
                    <audio ng-if="item.fileId != null && item.contentType.indexOf('audio')>-1 && item.isDownloaded == true"
                           preload="metadata"
                           id="{{item.id}}"
                           ng-focus="pauseVideo(item)"
                           poster="/images/audio.jpg"
                           class="col-12"
                           preload="metadata"
                           controls
                           type="{{item.contentType}}" ng-src="{{item.content}}"></audio>

                    <div class="col-12">
                        <img
                                ng-if="item.fileId != null && item.contentType.indexOf('pdf') > -1 && item.isDownloaded != true"
                                alt="pdf"
                                src="/{{viewVersion}}/images/pdf.png"
                                ng-click="download(item)"
                                style="width: 100%;height: 500px;cursor: pointer;"
                        />
                        <iframe
                                id="{{item.id}}"
                                ng-init="showPdf(item)"
                                ng-show="item.fileId != null && item.contentType.indexOf('pdf') > -1  && item.isDownloaded == true"
                                style="width: 100%;height: 500px;"
                                class="col-12"
                                alt="{{item.filename}}"
                                type="application/pdf"
                        >

                        </iframe>
                    </div>

                    <img ng-if="item.fileId != null && item.contentType.indexOf('image') > -1" class="col-12"
                         ng-init="download(item)" alt="{{item.filename}}" ng-src="{{item.content}}">
                    <div ng-if="item.fileId != null && item.contentType.indexOf('text') > -1" row="5"
                         class="col-12 bg-white mr-2 p-3" ng-init="download(item)"
                    >{{item.content}}
                    </div>
                </div>

                <div class="row col-12">
                    <div class="col-12" style="height: 15px;">
                        <div ng-if="item.fileId != null"
                             style="height: 15px;text-align: center;line-height: 15px;border: 1px dotted {{$root.color}};">
                            {{item.percent}}%
                        </div>
                        <div ng-if="item.fileId != null"
                             style="height: 15px;background-color: {{$root.color}};width:{{item.percent}}%;margin-top: -15px">
                            &nbsp;
                        </div>

                    </div>
                    <div ng-if="item.fileId != null && level==0" class="col-0.5 glyphicon glyphicon glyphicon-trash" style="font-size:25px;cursor: auto;"
                         ng-click="delete(item)"></div>
                    <div ng-if="item.fileId != null && level==0" class="col-0.5 glyphicon glyphicon glyphicon-edit" style="font-size:25px;cursor: auto;"
                         ng-click="openModel(item)"></div>
                    <div ng-if="item.fileId != null && level==0" class="col-0.5 glyphicon glyphicon-download"
                         style="font-size:25px;cursor: pointer;" ng-click="download(item)"></div>
                    <div class="col-12" style="font-weight: bold;" ng-if="item.fileId != null">
                        {{item.filename}}-{{item.size}}
                    </div>

                </div>

                <p class="col-12 bg-white mr-2 p-3">{{item.text}}</p>

            </div>
        </div>

    </div>


</div>
