<div id="main-content" class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="form-inline">
                <label class="row">{{'Phone' | translate}}</label>
                <div class="form-group col-md-12">
                    <input type="number" ng-model="user.username" class="form-control col-md-10"
                           placeholder="0911XXXXXXX">
                </div>
                <div class="form-group col-md-12">
                    <button class="btn btn-success" style="background-color: {{$root.color}}" ng-click="forgotPassword()"
                            ng-disabled="isEmpty(user.username,10) || !isEmpty(status)">{{'Send' | translate}}
                    </button>
                    <button class="btn btn-success" style="background-color: {{$root.color}}" type="button"><a alt="alt" href="/#!/signin" style="color: white">{{'Signin' | translate}}</a></button>
                    <!--<button class="btn btn-success" style="background-color: {{$root.color}}" type="button"><a alt="alt" href="/#!/signup" style="color: white">{{'Signup' | translate}}</a></button>-->
                </div>
            </div>
        </div>

    </div>

    <div ng-if="!isEmpty(status)" class="row">
        <div class="col-md-12">
            <div>
                <div ng-class="dir=='rtl'?'text-right':'text-left'" class="alert alert-danger alert-dismissible" role="alert">
                    <strong>{{'Note' | translate}}:</strong>
                    <div>{{ status | translate }}</div>
                </div>
            </div>
        </div>
    </div>

</div>