<div class="col-12">


    <div class="row">
        <div class="col-md-7 col-lg-7 col-sm-12">
            <ng-treeview config="config"></ng-treeview>
        </div>
        <div ng-if="parent!== undefined && parent!=null" class="col-md-3 col-lg-3">

            <div role="alert" class="alert alert-link alert-light col-12"
                 ng-class="dir=='rtl'?'text-right':'text-left'">
                <div ng-if="((username==parent.username && level!=0 && parent.active) || level == 0) && !add"
                     class="row">{{'EditUser' | translate }}
                </div>
                <div ng-if="((username==parent.username && level!=0 && parent.active) || level == 0) && add"
                     class="row">{{'AddUser' | translate }}
                </div>
                <div ng-if="(username==parent.username && level!=0 && parent.active) || level == 0" class="row">
                    <button class="btn btn-success"
                            ng-click="editUser()"
                            style="background-color: {{color}};"
                    >
                        {{'EditUser' | translate}}
                    </button>
                    <button class="btn btn-success" ng-click="addUser()" style="background-color: {{color}};">
                        {{'AddUser' | translate}}
                    </button>
                </div>
                <div ng-if="error!=null" class="row col-12 bd-example">
                    <div>
                        <div ng-class="dir=='rtl'?'text-right':'text-left'"
                             role="alert">
                            <strong>{{'Note' | translate}}:</strong>
                            <div>{{error | translate}}</div>
                        </div>
                    </div>
                </div>
                <div ng-if="link!=null" class="row col-12 bd-example">
                    <div>
                        <div ng-class="dir=='rtl'?'text-right':'text-left'" role="alert">
                            <div class="row" href="{{link}}" style="cursor: pointer;color: blue;" ng-click="copyLink()">
                                <input class="form-group col-12" id="link" type="text" value="{{link}}" readonly >
                                <span>{{'SendLink' | translate}}</span>
                                <span>&nbsp;&nbsp;</span>
                                <span> {{userFullName}} </span>
                            </div>
                            <div class="row" ng-if="isLinkSave == true">{{'Saved'| translate}}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row col-12" ng-if="!add">
                <label class="row col-12 alert-link" for="exampleInputEmail1">{{'User' | translate }}</label>
            </div>
            <div class="row col-12" ng-if="add">
                <label class="row col-12 alert-link" for="exampleInputEmail1">{{'TeamLeader' | translate }}</label>
            </div>

            <form class="row form-inline col-14">

                <div class="form-group col-12" ng-if="add">
                    <input type="text" ng-model="parent.fullName" id="exampleInputEmail1"
                           class="form-control col-12"
                           placeholder="{{'FirstName' | translate}}" ng-disabled="true">
                </div>


                <div ng-if="level == 0 && add" class="form-group col-12 form-check">
                    <input class="form-check-input" type="checkbox" ng-model="isSuperGroup" ng-click="setSuperGroup()"
                           id="flexCheckChecked" checked>
                    <label class="form-check-label alert-link" for="flexCheckChecked">&nbsp;{{ 'SuperGroupUser' |
                        translate}}&nbsp;</label>
                </div>

                <div class="form-group col-12">
                    <input type="text" ng-model="user.firstname"
                           ng-disabled="parent.username!=username && level!=0"
                           class="form-control col-12"
                           placeholder="{{'FirstName' | translate}}">
                </div>
                <div class="form-group col-12">
                    <input type="text" ng-model="user.lastname"
                           ng-disabled="parent.username!=username && level!=0"
                           class="form-control col-12"
                           placeholder="{{'LastName' | translate}}">
                </div>
                <div class="form-group col-12">
                    <input type="number" ng-model="user.username" ng-disabled="add?false:true"
                           class="form-control col-12"
                           placeholder="{{'Phone' | translate}}">
                </div>

                <label ng-if="!add" class="row col-12 alert-link" for="exampleInputEmail1">{{'SubGroupCount' | translate
                    }}</label>

                <div ng-if="!add" class="form-group col-12">
                    <input type="number" value="{{user.childsCount}}" ng-disabled="true" class="form-control col-12"
                           placeholder="{{'SubGroupCount' | translate}}">
                </div>

                <label ng-if="!add" class="row col-12 alert-link" for="exampleInputEmail1">{{'ActiveSubGroupCount' |
                    translate}}</label>

                <div ng-if="!add" class="form-group col-12">
                    <input type="number" value="{{user.activeChildsCount}}" ng-disabled="true"
                           class="form-control col-12"
                           placeholder="{{'ActiveSubGroupCount' | translate}}">
                </div>
                <div ng-if="(username==parent.username && level != 0 && parent.active) || level == 0"
                     class="form-group col-12">
                    <button class="btn btn-success col-12" ng-click="send()"
                            style="background-color: {{color}};"
                            ng-disabled="isEmpty(user.username,10) || isEmpty(user.firstname) || isEmpty(user.lastname)">
                        {{'Send' | translate}}
                    </button>
                </div>
                <div ng-if="level == 0" class="form-group col-12">
                    <button class="btn btn-success col-12" ng-click="delete()"
                            ng-disabled="parent == undefined"
                            style="background-color: {{color}};"
                    >
                        {{'Delete' | translate}}
                    </button>
                </div>

                <div ng-if="level == 0 && !add" class="form-group col-12">
                    <button class="btn btn-success col-12" ng-click="role(true)"
                            ng-disabled="parent == undefined"
                            style="background-color: {{color}};"
                    >
                        {{'IncreaseRole' | translate}}
                    </button>
                </div>

                <div ng-if="level == 0 && !add" class="form-group col-12">
                    <button class="btn btn-success col-12" ng-click="role(false)"
                            ng-disabled="parent == undefined"
                            style="background-color: {{color}};"
                    >
                        {{'DecreaseRole' | translate}}
                    </button>
                </div>

                <div ng-if="!add && (level == 0 || (level == 1 && parent!== undefined && parent.parent == null || parent.parent.parent == null))"
                     class="form-group col-12">
                    <button class="btn btn-success col-12" ng-click="forgotPassword()"
                            ng-disabled="parent == undefined"
                            style="background-color: {{color}};"
                    >
                        {{'ForgotPassword' | translate}}
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>




